*~
.*~
TAGS
hebcal.com/bin/*.pdf
hebcal.com/bin/hebcal
hebcal.com/converter/sedra/*/*.inc
hebcal.com/dist/*.csv
hebcal.com/etc/cities.js
hebcal.com/etc/hdate-en.js
hebcal.com/etc/hdate-en.xml
hebcal.com/etc/hdate-he.js
hebcal.com/etc/hdate-he.xml
hebcal.com/export/*/*.ics
hebcal.com/hebcal/zips.sqlite3
hebcal.com/holidays/*
hebcal.com/sedrot/*
