Header set P3P "policyref=\"http://www.hebcal.com/w3c/p3p.xml\", CP=\"ALL CURa ADMa DEVa TAIa PSAa OUR BUS IND PHY ONL COM NAV INT PRE\""

#DirectoryIndex shabbat.cgi
DirectoryIndex index.php

Redirect /shabbat/shabbat.html http://www.hebcal.com/shabbat/
Redirect /shabbat/shabbat.htm http://www.hebcal.com/shabbat/
Redirect /shabbat/shabbat.pl http://www.hebcal.com/shabbat/
Redirect /shabbat/index.html http://www.hebcal.com/shabbat/
Redirect /shabbat/index.pl http://www.hebcal.com/shabbat/
Redirect /shabbat/index.cgi http://www.hebcal.com/shabbat/
