[mysqld]

key_buffer_size		= 2M
max_allowed_packet	= 1M
sort_buffer_size = 64K
read_buffer_size = 256K
read_rnd_buffer_size = 256K
thread_stack		= 128K
thread_cache_size       = 4

query_cache_limit	= 256K
query_cache_size        = 4M
