DirectoryIndex index.cgi

Redirect /hebcal/hebcal.html http://www.hebcal.com/hebcal/
Redirect /hebcal/hebcal.htm http://www.hebcal.com/hebcal/
Redirect /hebcal/hebcal.pl http://www.hebcal.com/hebcal/
Redirect /hebcal/index.html http://www.hebcal.com/hebcal/
Redirect /hebcal/index.pl http://www.hebcal.com/hebcal/
