DirectoryIndex index.cgi

Redirect /hebcal/hebcal.html https://www.hebcal.com/hebcal/
Redirect /hebcal/hebcal.htm https://www.hebcal.com/hebcal/
Redirect /hebcal/hebcal.pl https://www.hebcal.com/hebcal/
Redirect /hebcal/index.html https://www.hebcal.com/hebcal/
Redirect /hebcal/index.pl https://www.hebcal.com/hebcal/

RedirectMatch ^/hebcal/del_cookie$ https://www.hebcal.com/hebcal/del_cookie.cgi

#ExpiresActive On
#ExpiresByType application/json A63072000
#ExpiresByType text/xml A63072000

RewriteEngine on
RewriteBase /hebcal

# replace old no-arg redirs with a 410 Gone
RewriteCond %{QUERY_STRING} ^$
RewriteRule ^index\.cgi/hebcal_.*\.ics$ - [G,L]

# stop serving out very old iCalendar and vCalendar files
RewriteRule ^index\.cgi/hebcal_200[0-9].*\.ics - [G,L]
RewriteRule ^index\.cgi/hebcal_200[0-9].*\.vcs - [G,L]
