# requires Apache 1.3.x
#CheckSpelling On
IndexOptions +SuppressHTMLPreamble +NameWidth=* +IconWidth=20 +IconHeight=22
HeaderName HEADER.html
ReadmeName README.html
#ServerName www.hebcal.com

Header append P3P "policyref=\"http://www.hebcal.com/w3c/p3p.xml\""
Header append P3P "CP=\"ALL CURa ADMa DEVa TAIa PSAa OUR BUS IND PHY ONL COM NAV INT PRE\""

Header append PICS-Label "(PICS-1.1 \"http://www.rsac.org/ratingsv01.html\" l gen true r (n 0 s 0 v 0 l 0))"

# for WAP 1-click shabbat
AddHandler cgi-script .cgi
RewriteEngine on
RewriteCond %{HTTP_ACCEPT} text\/vnd\.wap\.wml
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ /wap-shabbat.cgi [L]

AddIcon /icons/p.gif .pm
AddIcon /icons/generic.gif .ini

# apache 1.2.x and above
AddType application/x-javascript js
AddType application/msword doc
AddType application/octet-stream bin exe ico
AddType application/vnd.ms-excel xls xlw
AddType application/x-java-archive jar
AddType application/x-java-serialized-object guest obj ser x509
AddType application/x-java-vm class
AddType application/x-newton-compatible-pkg pkg
AddType application/x-ns-proxy-autoconfig pac
AddType audio/x-midi mid
AddType text/x-vcard vcf
AddType text/directory vdir
AddType text/ldif ldif
AddType text/css css
AddType text/x-csv csv
AddType text/xml xml rdf
AddType audio/mpeg mpga mp2 mp3
AddType application/x-shockwave-flash swf

ExpiresActive On
ExpiresByType image/gif A63072000
ExpiresByType image/jpeg A63072000

Redirect /yahrtzeit http://www.hebcal.com/yahrzeit
Redirect /yohrzeit http://www.hebcal.com/yahrzeit
Redirect /yohrtzeit http://www.hebcal.com/yahrzeit
Redirect /yartzeit http://www.hebcal.com/yahrzeit
Redirect /yarzeit http://www.hebcal.com/yahrzeit
Redirect /yortzeit http://www.hebcal.com/yahrzeit
Redirect /yorzeit http://www.hebcal.com/yahrzeit
Redirect /yizkor http://www.hebcal.com/yahrzeit

Redirect /HEBCAL http://www.hebcal.com/hebcal
Redirect /cgi-bin/hebcal http://www.hebcal.com/hebcal
Redirect /hebcal.html http://www.hebcal.com/hebcal/
Redirect /shabbat.html http://www.hebcal.com/shabbat/
Redirect /help/defaults.html http://www.hebcal.com/help/holidays.html

Redirect /michael/hebcal http://www.hebcal.com/hebcal
Redirect /michael/projects/hebcal.pl http://www.hebcal.com/dist/hebcal.pl
Redirect /michael/projects/hebcal-ChangeLog.txt http://www.hebcal.com/dist/ChangeLog.txt
