AddDefaultCharset UTF-8
FileETag MTime Size

Header set P3P "policyref=\"http://www.hebcal.com/w3c/p3p.xml\", CP=\"ALL CURa ADMa DEVa TAIa PSAa OUR BUS IND PHY ONL COM NAV INT PRE\""
Header set PICS-Label '(pics-1.1 "http://www.rsac.org/ratingsv01.html" l gen true r (n 0 s 0 v 0 l 0))'

ErrorDocument 404 /err404.shtml

RedirectMatch ^/_vti http://www.hebcal.com/
Redirect /MSOffice/cltreq.asp http://www.hebcal.com/

# for WAP 1-click shabbat
RewriteEngine on
RewriteCond %{HTTP_ACCEPT} text\/vnd\.wap\.wml
RewriteCond %{REQUEST_URI} ^/$
RewriteRule ^ /wap-shabbat.php [L]

# cut down on robots pushing us over resource limits
#BrowserMatch ^DAVKit/ is_a_robot
#Order Deny,Allow
#Deny from env=is_a_robot
#Deny from 24.225.252.135 68.202.8.234
RewriteRule hebcal_2004_sep_07936.ics - [F]

AddType image/vnd.microsoft.icon ico
AddType application/x-javascript js
AddType text/css css
AddType text/xml xml rdf rss vxml
AddType text/x-csv csv
AddEncoding x-gzip .gz

Redirect /yahrtzeit http://www.hebcal.com/yahrzeit
Redirect /yohrzeit http://www.hebcal.com/yahrzeit
Redirect /yohrtzeit http://www.hebcal.com/yahrzeit
Redirect /yartzeit http://www.hebcal.com/yahrzeit
Redirect /yarzeit http://www.hebcal.com/yahrzeit
Redirect /yortzeit http://www.hebcal.com/yahrzeit
Redirect /yorzeit http://www.hebcal.com/yahrzeit
Redirect /yizkor http://www.hebcal.com/yahrzeit

Redirect /HEBCAL http://www.hebcal.com/hebcal
Redirect /cgi-bin/hebcal http://www.hebcal.com/hebcal
Redirect /hebcal.html http://www.hebcal.com/hebcal/
Redirect /shabbat.html http://www.hebcal.com/shabbat/
Redirect /help/defaults.html http://www.hebcal.com/holidays/

Redirect /TARGET=BLANK http://www.hebcal.com/

Redirect /shabbat/favicon.ico http://www.hebcal.com/favicon.ico
Redirect /sedrot/favicon.ico http://www.hebcal.com/favicon.ico
Redirect /news/favicon.ico http://www.hebcal.com/favicon.ico
