@media print {
  .navbar { display: none }
  .goto { display: none }
}

body {
 background: #ffffff;
 color: #000000;
}

.navbar {
 color: #000000;
 background: #ffddaa;
 padding: 2px;
 border-width: thin;
 border-style: none none solid none;
 border-color: #ffbb99;
 font-family: Tahoma,Verdana,Arial,Helvetica,Geneva,sans-serif;
}

H1, H2, H3, H4, H5, H6 {
 font-family: Tahoma,Verdana,Arial,Helvetica,Geneva,sans-serif;
 margin-bottom: 0;
}

.hl { 
 background: #ffff99;
}

.dim {
 color: #666666;
}

.sm-grey {
 font-size: xx-small;
 color: #999999;
}

.hebrew-big {
 font-size: xx-large;
 font-family: David,'Times New Roman',serif;
}

.hebrew {
 font-family: David,'Times New Roman',serif;
}

.hebrew-big-ltr {
 font-size: xx-large;
 font-family: David,'Times New Roman',serif;
 direction: ltr;
 unicode-bidi: bidi-override;
}

.hebrew-ltr {
 font-family: David,'Times New Roman',serif;
 direction: ltr;
 unicode-bidi: bidi-override;
}

A:hover { 
 color: red;
 text-decoration: underline;
}

.welcome {
 font-size: small;
 font-family: Arial,Helvetica,Geneva,sans-serif;
 border: solid;
 border-width: thin;
 border-color: red;
 padding: 10px;    	
}

.tiny {
 font-size: x-small;
 font-family: Arial,Helvetica,Geneva,sans-serif;
}

.box {
 border: solid;
 border-width: thin;
}

.today {
 border: solid;
 border-width: thin;
 border-color: red;
}
