body {
 background: #ffffff;
 color: #000000;
}

.navbar {
 color: #000000;
 background: #ffcc99;
 padding: 2px;
 border-width: thin;
 border-style: none none solid none;
 border-color: #ff9966;
 font-family: Tahoma,Verdana,Arial,Helvetica,Geneva,sans-serif;
}

H1, H2, H3, H4, H5, H6 {
 font-family: Tahoma,Verdana,Arial,Helvetica,Geneva,sans-serif;
 margin-bottom: 0;
}

.hl { 
 background: #ffff99;
}

.dim {
 color: #666666;
}

.hebrew-big {
 font-size: xx-large;
 font-family: David,'Times New Roman',serif;
}

.hebrew {
 font-family: David,'Times New Roman',serif;
}

.hebrew-big-ltr {
 font-size: xx-large;
 font-family: David,'Times New Roman',serif;
 direction: ltr;
 unicode-bidi: bidi-override;
}

.hebrew-ltr {
 font-family: David,'Times New Roman',serif;
 direction: ltr;
 unicode-bidi: bidi-override;
}
