# iso 8601 dates
<FilesMatch "\d{4}-\d{2}-\d{2}">
  ForceType text/html
</FilesMatch>

# hebrew year - 5775, etc.
<FilesMatch "\d{4}">
  ForceType text/html
</FilesMatch>

<Files "about">
  ForceType text/html
</Files>
