Redirect permanent /ical/daf-yomi.csv http://download.hebcal.com/ical/daf-yomi.csv
Redirect permanent /ical/daf-yomi.ics http://download.hebcal.com/ical/daf-yomi.ics
Redirect permanent /ical/hdate-en.csv http://download.hebcal.com/ical/hdate-en.csv
Redirect permanent /ical/hdate-en.ics http://download.hebcal.com/ical/hdate-en.ics
Redirect permanent /ical/hdate-he.csv http://download.hebcal.com/ical/hdate-he.csv
Redirect permanent /ical/hdate-he.ics http://download.hebcal.com/ical/hdate-he.ics
Redirect permanent /ical/jewish-holidays-all.csv http://download.hebcal.com/ical/jewish-holidays-all.csv
Redirect permanent /ical/jewish-holidays-all.ics http://download.hebcal.com/ical/jewish-holidays-all.ics
Redirect permanent /ical/jewish-holidays.csv http://download.hebcal.com/ical/jewish-holidays.csv
Redirect permanent /ical/jewish-holidays.ics http://download.hebcal.com/ical/jewish-holidays.ics
Redirect permanent /ical/omer.csv http://download.hebcal.com/ical/omer.csv
Redirect permanent /ical/omer.ics http://download.hebcal.com/ical/omer.ics
Redirect permanent /ical/torah-readings-diaspora.csv http://download.hebcal.com/ical/torah-readings-diaspora.csv
Redirect permanent /ical/torah-readings-diaspora.ics http://download.hebcal.com/ical/torah-readings-diaspora.ics
