ForceType text/html
<IfModule mod_deflate.c>
SetOutputFilter DEFLATE
</IfModule>

<Files "*.csv">
 ForceType text/csv
</Files>

<Files "*.xml">
 ForceType text/xml
</Files>

Redirect permanent /sedrot/achreimot.html https://www.hebcal.com/sedrot/achreimot
Redirect permanent /sedrot/achreimotkedoshim.html https://www.hebcal.com/sedrot/achreimotkedoshim
Redirect permanent /sedrot/balak.html https://www.hebcal.com/sedrot/balak
Redirect permanent /sedrot/bamidbar.html https://www.hebcal.com/sedrot/bamidbar
Redirect permanent /sedrot/bechukotai.html https://www.hebcal.com/sedrot/bechukotai
Redirect permanent /sedrot/behaalotcha.html https://www.hebcal.com/sedrot/behaalotcha
Redirect permanent /sedrot/behar.html https://www.hebcal.com/sedrot/behar
Redirect permanent /sedrot/beharbechukotai.html https://www.hebcal.com/sedrot/beharbechukotai
Redirect permanent /sedrot/bereshit.html https://www.hebcal.com/sedrot/bereshit
Redirect permanent /sedrot/beshalach.html https://www.hebcal.com/sedrot/beshalach
Redirect permanent /sedrot/bo.html https://www.hebcal.com/sedrot/bo
Redirect permanent /sedrot/chayeisara.html https://www.hebcal.com/sedrot/chayeisara
Redirect permanent /sedrot/chukat.html https://www.hebcal.com/sedrot/chukat
Redirect permanent /sedrot/chukatbalak.html https://www.hebcal.com/sedrot/chukatbalak
Redirect permanent /sedrot/devarim.html https://www.hebcal.com/sedrot/devarim
Redirect permanent /sedrot/eikev.html https://www.hebcal.com/sedrot/eikev
Redirect permanent /sedrot/emor.html https://www.hebcal.com/sedrot/emor
Redirect permanent /sedrot/haazinu.html https://www.hebcal.com/sedrot/haazinu
Redirect permanent /sedrot/kedoshim.html https://www.hebcal.com/sedrot/kedoshim
Redirect permanent /sedrot/kitavo.html https://www.hebcal.com/sedrot/kitavo
Redirect permanent /sedrot/kiteitzei.html https://www.hebcal.com/sedrot/kiteitzei
Redirect permanent /sedrot/kitisa.html https://www.hebcal.com/sedrot/kitisa
Redirect permanent /sedrot/korach.html https://www.hebcal.com/sedrot/korach
Redirect permanent /sedrot/lechlecha.html https://www.hebcal.com/sedrot/lechlecha
Redirect permanent /sedrot/masei.html https://www.hebcal.com/sedrot/masei
Redirect permanent /sedrot/matot.html https://www.hebcal.com/sedrot/matot
Redirect permanent /sedrot/matotmasei.html https://www.hebcal.com/sedrot/matotmasei
Redirect permanent /sedrot/metzora.html https://www.hebcal.com/sedrot/metzora
Redirect permanent /sedrot/miketz.html https://www.hebcal.com/sedrot/miketz
Redirect permanent /sedrot/mishpatim.html https://www.hebcal.com/sedrot/mishpatim
Redirect permanent /sedrot/nasso.html https://www.hebcal.com/sedrot/nasso
Redirect permanent /sedrot/nitzavim.html https://www.hebcal.com/sedrot/nitzavim
Redirect permanent /sedrot/nitzavimvayeilech.html https://www.hebcal.com/sedrot/nitzavimvayeilech
Redirect permanent /sedrot/noach.html https://www.hebcal.com/sedrot/noach
Redirect permanent /sedrot/pekudei.html https://www.hebcal.com/sedrot/pekudei
Redirect permanent /sedrot/pinchas.html https://www.hebcal.com/sedrot/pinchas
Redirect permanent /sedrot/reeh.html https://www.hebcal.com/sedrot/reeh
Redirect permanent /sedrot/shemot.html https://www.hebcal.com/sedrot/shemot
Redirect permanent /sedrot/shlach.html https://www.hebcal.com/sedrot/shlach
Redirect permanent /sedrot/shmini.html https://www.hebcal.com/sedrot/shmini
Redirect permanent /sedrot/shoftim.html https://www.hebcal.com/sedrot/shoftim
Redirect permanent /sedrot/tazria.html https://www.hebcal.com/sedrot/tazria
Redirect permanent /sedrot/tazriametzora.html https://www.hebcal.com/sedrot/tazriametzora
Redirect permanent /sedrot/terumah.html https://www.hebcal.com/sedrot/terumah
Redirect permanent /sedrot/tetzaveh.html https://www.hebcal.com/sedrot/tetzaveh
Redirect permanent /sedrot/toldot.html https://www.hebcal.com/sedrot/toldot
Redirect permanent /sedrot/tzav.html https://www.hebcal.com/sedrot/tzav
Redirect permanent /sedrot/vaera.html https://www.hebcal.com/sedrot/vaera
Redirect permanent /sedrot/vaetchanan.html https://www.hebcal.com/sedrot/vaetchanan
Redirect permanent /sedrot/vayakhel.html https://www.hebcal.com/sedrot/vayakhel
Redirect permanent /sedrot/vayakhelpekudei.html https://www.hebcal.com/sedrot/vayakhelpekudei
Redirect permanent /sedrot/vayechi.html https://www.hebcal.com/sedrot/vayechi
Redirect permanent /sedrot/vayeilech.html https://www.hebcal.com/sedrot/vayeilech
Redirect permanent /sedrot/vayera.html https://www.hebcal.com/sedrot/vayera
Redirect permanent /sedrot/vayeshev.html https://www.hebcal.com/sedrot/vayeshev
Redirect permanent /sedrot/vayetzei.html https://www.hebcal.com/sedrot/vayetzei
Redirect permanent /sedrot/vayigash.html https://www.hebcal.com/sedrot/vayigash
Redirect permanent /sedrot/vayikra.html https://www.hebcal.com/sedrot/vayikra
Redirect permanent /sedrot/vayishlach.html https://www.hebcal.com/sedrot/vayishlach
Redirect permanent /sedrot/vezothaberakhah.html https://www.hebcal.com/sedrot/vezothaberakhah
Redirect permanent /sedrot/yitro.html https://www.hebcal.com/sedrot/yitro
