DefaultType text/html
<IfModule mod_deflate.c>
SetOutputFilter DEFLATE
</IfModule>

Redirect permanent /sedrot/achreimot.html http://www.hebcal.com/sedrot/achreimot
Redirect permanent /sedrot/achreimotkedoshim.html http://www.hebcal.com/sedrot/achreimotkedoshim
Redirect permanent /sedrot/balak.html http://www.hebcal.com/sedrot/balak
Redirect permanent /sedrot/bamidbar.html http://www.hebcal.com/sedrot/bamidbar
Redirect permanent /sedrot/bechukotai.html http://www.hebcal.com/sedrot/bechukotai
Redirect permanent /sedrot/behaalotcha.html http://www.hebcal.com/sedrot/behaalotcha
Redirect permanent /sedrot/behar.html http://www.hebcal.com/sedrot/behar
Redirect permanent /sedrot/beharbechukotai.html http://www.hebcal.com/sedrot/beharbechukotai
Redirect permanent /sedrot/bereshit.html http://www.hebcal.com/sedrot/bereshit
Redirect permanent /sedrot/beshalach.html http://www.hebcal.com/sedrot/beshalach
Redirect permanent /sedrot/bo.html http://www.hebcal.com/sedrot/bo
Redirect permanent /sedrot/chayeisara.html http://www.hebcal.com/sedrot/chayeisara
Redirect permanent /sedrot/chukat.html http://www.hebcal.com/sedrot/chukat
Redirect permanent /sedrot/chukatbalak.html http://www.hebcal.com/sedrot/chukatbalak
Redirect permanent /sedrot/devarim.html http://www.hebcal.com/sedrot/devarim
Redirect permanent /sedrot/eikev.html http://www.hebcal.com/sedrot/eikev
Redirect permanent /sedrot/emor.html http://www.hebcal.com/sedrot/emor
Redirect permanent /sedrot/haazinu.html http://www.hebcal.com/sedrot/haazinu
Redirect permanent /sedrot/kedoshim.html http://www.hebcal.com/sedrot/kedoshim
Redirect permanent /sedrot/kitavo.html http://www.hebcal.com/sedrot/kitavo
Redirect permanent /sedrot/kiteitzei.html http://www.hebcal.com/sedrot/kiteitzei
Redirect permanent /sedrot/kitisa.html http://www.hebcal.com/sedrot/kitisa
Redirect permanent /sedrot/korach.html http://www.hebcal.com/sedrot/korach
Redirect permanent /sedrot/lechlecha.html http://www.hebcal.com/sedrot/lechlecha
Redirect permanent /sedrot/masei.html http://www.hebcal.com/sedrot/masei
Redirect permanent /sedrot/matot.html http://www.hebcal.com/sedrot/matot
Redirect permanent /sedrot/matotmasei.html http://www.hebcal.com/sedrot/matotmasei
Redirect permanent /sedrot/metzora.html http://www.hebcal.com/sedrot/metzora
Redirect permanent /sedrot/miketz.html http://www.hebcal.com/sedrot/miketz
Redirect permanent /sedrot/mishpatim.html http://www.hebcal.com/sedrot/mishpatim
Redirect permanent /sedrot/nasso.html http://www.hebcal.com/sedrot/nasso
Redirect permanent /sedrot/nitzavim.html http://www.hebcal.com/sedrot/nitzavim
Redirect permanent /sedrot/nitzavimvayeilech.html http://www.hebcal.com/sedrot/nitzavimvayeilech
Redirect permanent /sedrot/noach.html http://www.hebcal.com/sedrot/noach
Redirect permanent /sedrot/pekudei.html http://www.hebcal.com/sedrot/pekudei
Redirect permanent /sedrot/pinchas.html http://www.hebcal.com/sedrot/pinchas
Redirect permanent /sedrot/reeh.html http://www.hebcal.com/sedrot/reeh
Redirect permanent /sedrot/shemot.html http://www.hebcal.com/sedrot/shemot
Redirect permanent /sedrot/shlach.html http://www.hebcal.com/sedrot/shlach
Redirect permanent /sedrot/shmini.html http://www.hebcal.com/sedrot/shmini
Redirect permanent /sedrot/shoftim.html http://www.hebcal.com/sedrot/shoftim
Redirect permanent /sedrot/tazria.html http://www.hebcal.com/sedrot/tazria
Redirect permanent /sedrot/tazriametzora.html http://www.hebcal.com/sedrot/tazriametzora
Redirect permanent /sedrot/terumah.html http://www.hebcal.com/sedrot/terumah
Redirect permanent /sedrot/tetzaveh.html http://www.hebcal.com/sedrot/tetzaveh
Redirect permanent /sedrot/toldot.html http://www.hebcal.com/sedrot/toldot
Redirect permanent /sedrot/tzav.html http://www.hebcal.com/sedrot/tzav
Redirect permanent /sedrot/vaera.html http://www.hebcal.com/sedrot/vaera
Redirect permanent /sedrot/vaetchanan.html http://www.hebcal.com/sedrot/vaetchanan
Redirect permanent /sedrot/vayakhel.html http://www.hebcal.com/sedrot/vayakhel
Redirect permanent /sedrot/vayakhelpekudei.html http://www.hebcal.com/sedrot/vayakhelpekudei
Redirect permanent /sedrot/vayechi.html http://www.hebcal.com/sedrot/vayechi
Redirect permanent /sedrot/vayeilech.html http://www.hebcal.com/sedrot/vayeilech
Redirect permanent /sedrot/vayera.html http://www.hebcal.com/sedrot/vayera
Redirect permanent /sedrot/vayeshev.html http://www.hebcal.com/sedrot/vayeshev
Redirect permanent /sedrot/vayetzei.html http://www.hebcal.com/sedrot/vayetzei
Redirect permanent /sedrot/vayigash.html http://www.hebcal.com/sedrot/vayigash
Redirect permanent /sedrot/vayikra.html http://www.hebcal.com/sedrot/vayikra
Redirect permanent /sedrot/vayishlach.html http://www.hebcal.com/sedrot/vayishlach
Redirect permanent /sedrot/vezothaberakhah.html http://www.hebcal.com/sedrot/vezothaberakhah
Redirect permanent /sedrot/yitro.html http://www.hebcal.com/sedrot/yitro
