define host {
        use                     generic-host            ; Name of host template to use
        host_name                       download.hebcal.com
        alias                           download.hebcal.com
        address                         download.hebcal.com
}

define host {
        use                     generic-host            ; Name of host template to use
        host_name                       www.hebcal.com
        alias                           www.hebcal.com
        address                         www.hebcal.com
}

define command{
  command_name  check-noop
  command_line  /bin/true
}

#define host {
#        use                     generic-host            ; Name of host template to use
##	check_command                   check-noop
#	check_command                   check_http
#        host_name                       donato.intuitlabs.com
#        alias                           donato.intuitlabs.com
#        address                         donato.intuitlabs.com
#}

define host {
        use                     generic-host            ; Name of host template to use
        host_name                       www.utf8.com
        alias                           www.utf8.com
        address                         www.utf8.com
}

define host {
        use                     generic-host            ; Name of host template to use
        host_name                       www.utf-8.com
        alias                           www.utf-8.com
        address                         www.utf-8.com
}

define host {
        use                     generic-host            ; Name of host template to use
        host_name                       www.radwin.org
        alias                           www.radwin.org
        address                         www.radwin.org
}

define host {
        use                     generic-host            ; Name of host template to use
        host_name                       www.itodevelopment.com
        alias                           www.itodevelopment.com
        address                         www.itodevelopment.com
}

define host {
        use                     generic-host            ; Name of host template to use
        host_name                       v14.hebcal.com
        alias                           v14.hebcal.com
        address                         v14.hebcal.com
}

define host {
    use                     generic-host
    host_name               db3.hebcal.com
    alias                   db3.hebcal.com
    address                 db3.hebcal.com
}

define host {
    use                     generic-host
    host_name               w18.hebcal.com
    alias                   w18.hebcal.com
    address                 w18.hebcal.com
}

define host {
    use                     generic-host
    host_name               dl18.hebcal.com
    alias                   dl18.hebcal.com
    address                 dl18.hebcal.com
}

define host {
    use                     generic-host
    host_name               dl17.hebcal.com
    alias                   dl17.hebcal.com
    address                 dl17.hebcal.com
}

define host {
    use                     generic-host
    host_name               vdl1.hebcal.com
    alias                   vdl1.hebcal.com
    address                 vdl1.hebcal.com
}
