ForceType text/html
<IfModule mod_deflate.c>
SetOutputFilter DEFLATE
</IfModule>

<Files "*.pdf">
 ForceType application/pdf
</Files>

Redirect permanent /holidays/asara-btevet.html http://www.hebcal.com/holidays/asara-btevet
Redirect permanent /holidays/chanukah.html http://www.hebcal.com/holidays/chanukah
Redirect permanent /holidays/days-of-the-omer.html http://www.hebcal.com/holidays/days-of-the-omer
Redirect permanent /holidays/lag-bomer.html http://www.hebcal.com/holidays/lag-bomer
Redirect permanent /holidays/pesach.html http://www.hebcal.com/holidays/pesach
Redirect permanent /holidays/purim-katan.html http://www.hebcal.com/holidays/purim-katan
Redirect permanent /holidays/purim.html http://www.hebcal.com/holidays/purim
Redirect permanent /holidays/rosh-chodesh-adar.html http://www.hebcal.com/holidays/rosh-chodesh-adar
Redirect permanent /holidays/rosh-chodesh-av.html http://www.hebcal.com/holidays/rosh-chodesh-av
Redirect permanent /holidays/rosh-chodesh-cheshvan.html http://www.hebcal.com/holidays/rosh-chodesh-cheshvan
Redirect permanent /holidays/rosh-chodesh-elul.html http://www.hebcal.com/holidays/rosh-chodesh-elul
Redirect permanent /holidays/rosh-chodesh-iyyar.html http://www.hebcal.com/holidays/rosh-chodesh-iyyar
Redirect permanent /holidays/rosh-chodesh-kislev.html http://www.hebcal.com/holidays/rosh-chodesh-kislev
Redirect permanent /holidays/rosh-chodesh-nisan.html http://www.hebcal.com/holidays/rosh-chodesh-nisan
Redirect permanent /holidays/rosh-chodesh-shvat.html http://www.hebcal.com/holidays/rosh-chodesh-shvat
Redirect permanent /holidays/rosh-chodesh-sivan.html http://www.hebcal.com/holidays/rosh-chodesh-sivan
Redirect permanent /holidays/rosh-chodesh-tammuz.html http://www.hebcal.com/holidays/rosh-chodesh-tamuz
Redirect permanent /holidays/rosh-chodesh-tamuz.html http://www.hebcal.com/holidays/rosh-chodesh-tamuz
Redirect permanent /holidays/rosh-chodesh-tevet.html http://www.hebcal.com/holidays/rosh-chodesh-tevet
Redirect permanent /holidays/rosh-hashana.html http://www.hebcal.com/holidays/rosh-hashana
Redirect permanent /holidays/shabbat-chazon.html http://www.hebcal.com/holidays/shabbat-chazon
Redirect permanent /holidays/shabbat-hachodesh.html http://www.hebcal.com/holidays/shabbat-hachodesh
Redirect permanent /holidays/shabbat-hagadol.html http://www.hebcal.com/holidays/shabbat-hagadol
Redirect permanent /holidays/shabbat-hazon.html http://www.hebcal.com/holidays/shabbat-chazon
Redirect permanent /holidays/shabbat-hazon http://www.hebcal.com/holidays/shabbat-chazon
Redirect permanent /holidays/shabbat-machar-chodesh.html http://www.hebcal.com/holidays/shabbat-machar-chodesh
Redirect permanent /holidays/shabbat-nachamu.html http://www.hebcal.com/holidays/shabbat-nachamu
Redirect permanent /holidays/shabbat-parah.html http://www.hebcal.com/holidays/shabbat-parah
Redirect permanent /holidays/shabbat-rosh-chodesh.html http://www.hebcal.com/holidays/shabbat-rosh-chodesh
Redirect permanent /holidays/shabbat-shekalim.html http://www.hebcal.com/holidays/shabbat-shekalim
Redirect permanent /holidays/shabbat-shuva.html http://www.hebcal.com/holidays/shabbat-shuva
Redirect permanent /holidays/shabbat-zachor.html http://www.hebcal.com/holidays/shabbat-zachor
Redirect permanent /holidays/shavuot.html http://www.hebcal.com/holidays/shavuot
Redirect permanent /holidays/shmini-atzeret.html http://www.hebcal.com/holidays/shmini-atzeret
Redirect permanent /holidays/shushan-purim.html http://www.hebcal.com/holidays/shushan-purim
Redirect permanent /holidays/simchat-torah.html http://www.hebcal.com/holidays/simchat-torah
Redirect permanent /holidays/sukkot.html http://www.hebcal.com/holidays/sukkot
Redirect permanent /holidays/sukkos http://www.hebcal.com/holidays/sukkot
Redirect permanent /holidays/taanit-bechorot.html http://www.hebcal.com/holidays/taanit-bechorot
Redirect permanent /holidays/taanit-esther.html http://www.hebcal.com/holidays/taanit-esther
Redirect permanent /holidays/tisha-bav.html http://www.hebcal.com/holidays/tisha-bav
Redirect permanent /holidays/tu-bshvat.html http://www.hebcal.com/holidays/tu-bishvat
Redirect permanent /holidays/tu-bshvat http://www.hebcal.com/holidays/tu-bishvat
Redirect permanent /holidays/tzom-gedaliah.html http://www.hebcal.com/holidays/tzom-gedaliah
Redirect permanent /holidays/tzom-tammuz.html http://www.hebcal.com/holidays/tzom-tammuz
Redirect permanent /holidays/yom-haatzmaut.html http://www.hebcal.com/holidays/yom-haatzmaut
Redirect permanent /holidays/yom-hashoah.html http://www.hebcal.com/holidays/yom-hashoah
Redirect permanent /holidays/yom-hazikaron.html http://www.hebcal.com/holidays/yom-hazikaron
Redirect permanent /holidays/yom-kippur.html http://www.hebcal.com/holidays/yom-kippur
Redirect permanent /holidays/yom-yerushalayim.html http://www.hebcal.com/holidays/yom-yerushalayim
