Redirect /converter/converter.html https://www.hebcal.com/converter/
Redirect /converter/converter.htm https://www.hebcal.com/converter/
Redirect /converter/converter.pl https://www.hebcal.com/converter/
Redirect /converter/converter.cgi https://www.hebcal.com/converter/
#Redirect /converter/index.html https://www.hebcal.com/converter/
Redirect /converter/index.pl https://www.hebcal.com/converter/

ExpiresActive On
ExpiresByType application/json A63072000
ExpiresByType text/xml A63072000
