Redirect /converter/converter.html http://www.hebcal.com/converter/
Redirect /converter/converter.htm http://www.hebcal.com/converter/
Redirect /converter/converter.pl http://www.hebcal.com/converter/
Redirect /converter/converter.cgi http://www.hebcal.com/converter/
#Redirect /converter/index.html http://www.hebcal.com/converter/
Redirect /converter/index.pl http://www.hebcal.com/converter/
